html{
    background-image: url(totoro3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    font-family: 'Cinzel', cursive;
    text-align: center;
    font-size: 60px;
}

#description{
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-size: x-large;
}

.Selector{
    justify-content: center;
    display: flex;
    font-family: 'Cinzel', cursive;
    font-size: larger;
}

#select_film{
    margin-right: 0.75em;
}

.Film_Detail{
    justify-content: center;
    text-align: center;
    font-family: 'Cinzel', cursive;
    font-size: 30px;
}

.favourites{
    font-family: 'Cinzel', cursive;
    text-align: center;
    font-size: larger;
}

#fave{
    font-family: 'Cinzel', cursive;
}

#film_list{
    list-style: none;
}